.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/45/109b8450567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/50/a0feb95d577700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/54/70f68750567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/54/e0f1dba4567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/76/70e0daa4567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/86/a06b8850567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/95/70858550567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ab/60428705577700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/b/d0e08850567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/e6/10f6d9a4567700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/b9/22/81/31/7f/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/b9/22/81/31/f3/f2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/103936059.index
.metadata/.plugins/org.eclipse.jdt.core/1052760054.index
.metadata/.plugins/org.eclipse.jdt.core/1550136918.index
.metadata/.plugins/org.eclipse.jdt.core/1550361615.index
.metadata/.plugins/org.eclipse.jdt.core/1597027194.index
.metadata/.plugins/org.eclipse.jdt.core/1790676552.index
.metadata/.plugins/org.eclipse.jdt.core/240812594.index
.metadata/.plugins/org.eclipse.jdt.core/2428272622.index
.metadata/.plugins/org.eclipse.jdt.core/2598519698.index
.metadata/.plugins/org.eclipse.jdt.core/2653919674.index
.metadata/.plugins/org.eclipse.jdt.core/3041785905.index
.metadata/.plugins/org.eclipse.jdt.core/3127710900.index
.metadata/.plugins/org.eclipse.jdt.core/3165785559.index
.metadata/.plugins/org.eclipse.jdt.core/3200953061.index
.metadata/.plugins/org.eclipse.jdt.core/3405292299.index
.metadata/.plugins/org.eclipse.jdt.core/3643111958.index
.metadata/.plugins/org.eclipse.jdt.core/3815729329.index
.metadata/.plugins/org.eclipse.jdt.core/4147427367.index
.metadata/.plugins/org.eclipse.jdt.core/671116231.index
.metadata/.plugins/org.eclipse.jdt.core/993289880.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/boot/2017/8/31/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/boot/2017/8/31/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_6
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_10.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_11.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_u.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_v.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_w.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_x.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_y.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_z.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/segments_10
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/f3e72916ca4e764dc79dc31234811e16/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/f3e72916ca4e764dc79dc31234811e16/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/f3e72916ca4e764dc79dc31234811e16/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/f3e72916ca4e764dc79dc31234811e16/write.lock
.metadata/.plugins/org.eclipse.m2e.core/boot.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/boot.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kuangxf_0/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kuangxf_0/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kuangxf_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.lock
.metadata/.log
.metadata/version.ini
RemoteSystemsTempFiles/.project
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/1/70cc1e9e5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/10/70d43f14617700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/13/e08798195d7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/18/3032212e617700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/18/b07a2bc25e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/19/c0a679775b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/1a/60331be95c7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/1a/70481fce5d7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/1b/b05d7ac15f7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/1e/003425195a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/20/b068d28f5b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/22/40d2d20a5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/24/003ef7b55e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/2d/f0bafb8e5f7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/3/a07553035b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/33/5033c7be597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/33/c08bfefb587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/37/c052560b5d7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/38/d00983e25a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/3e/50d16bc2597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/3e/60c04630587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/47/5038514c5b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/4c/40ca2872597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/5b/d08187e4597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/6/e07eae915f7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/63/c0c591d4587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/65/904e3c81587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/68/109d61995b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/68/7059b6c1587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/6a/4046f8ca5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/6b/00fd8eb9597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/6c/90889d025a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/83/000b4aa8607700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/89/003cda415b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/8b/30652252597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/91/307a6019587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/94/c0ce1ffa5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/9d/f05292f15a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/a2/80d414a45a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/a4/50274cb85a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/a7/a0d73b8c5f7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/a8/d0c1eb055d7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/a8/f044e1f45c7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/b/50d4b9d15d7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/b2/c01881b45e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/c3/904d7c3b5f7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/c9/403e114b5b7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ce/f00879015e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/cf/e0caf3ba5e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/d1/802ad3f85a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/d6/60a038cc587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/d8/2045f0fc607700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/d8/d0f044b8597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/da/f0898515587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/dd/00624211587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/df/e0dc27b55a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/e6/30f9bad95e7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ea/c018267f587700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ef/10d063015a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ef/70d24b49597700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/f0/1057480c617700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/f1/3005c8b05a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/f1/a05a02e65c7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/f9/708c279d607700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/fa/d0ecee7a5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.history/ff/803e97bc5a7700171824e4a539830870
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/92/22/81/31/7f/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/92/22/81/31/f3/f2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/b9/22/81/31/7f/54/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/boot/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/SpringbootApplicationTests.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/1011043056.index
.metadata/.plugins/org.eclipse.jdt.core/1271843203.index
.metadata/.plugins/org.eclipse.jdt.core/1419136556.index
.metadata/.plugins/org.eclipse.jdt.core/1470896669.index
.metadata/.plugins/org.eclipse.jdt.core/1490983145.index
.metadata/.plugins/org.eclipse.jdt.core/1632393597.index
.metadata/.plugins/org.eclipse.jdt.core/1715106236.index
.metadata/.plugins/org.eclipse.jdt.core/1774477729.index
.metadata/.plugins/org.eclipse.jdt.core/1801212391.index
.metadata/.plugins/org.eclipse.jdt.core/1860015522.index
.metadata/.plugins/org.eclipse.jdt.core/1879075270.index
.metadata/.plugins/org.eclipse.jdt.core/1908238643.index
.metadata/.plugins/org.eclipse.jdt.core/1964371239.index
.metadata/.plugins/org.eclipse.jdt.core/1982054143.index
.metadata/.plugins/org.eclipse.jdt.core/2000084010.index
.metadata/.plugins/org.eclipse.jdt.core/2000408039.index
.metadata/.plugins/org.eclipse.jdt.core/2017573280.index
.metadata/.plugins/org.eclipse.jdt.core/2448474682.index
.metadata/.plugins/org.eclipse.jdt.core/2456354104.index
.metadata/.plugins/org.eclipse.jdt.core/2464869928.index
.metadata/.plugins/org.eclipse.jdt.core/2577031036.index
.metadata/.plugins/org.eclipse.jdt.core/2836481377.index
.metadata/.plugins/org.eclipse.jdt.core/2888222736.index
.metadata/.plugins/org.eclipse.jdt.core/2956723954.index
.metadata/.plugins/org.eclipse.jdt.core/2995537455.index
.metadata/.plugins/org.eclipse.jdt.core/3009421787.index
.metadata/.plugins/org.eclipse.jdt.core/3046960904.index
.metadata/.plugins/org.eclipse.jdt.core/3121771424.index
.metadata/.plugins/org.eclipse.jdt.core/3237831713.index
.metadata/.plugins/org.eclipse.jdt.core/3453254348.index
.metadata/.plugins/org.eclipse.jdt.core/3462924190.index
.metadata/.plugins/org.eclipse.jdt.core/3700911236.index
.metadata/.plugins/org.eclipse.jdt.core/3922375208.index
.metadata/.plugins/org.eclipse.jdt.core/4028296389.index
.metadata/.plugins/org.eclipse.jdt.core/4056299819.index
.metadata/.plugins/org.eclipse.jdt.core/4176119798.index
.metadata/.plugins/org.eclipse.jdt.core/4222762065.index
.metadata/.plugins/org.eclipse.jdt.core/4241374992.index
.metadata/.plugins/org.eclipse.jdt.core/4249330355.index
.metadata/.plugins/org.eclipse.jdt.core/4281009505.index
.metadata/.plugins/org.eclipse.jdt.core/539719787.index
.metadata/.plugins/org.eclipse.jdt.core/560324749.index
.metadata/.plugins/org.eclipse.jdt.core/573025213.index
.metadata/.plugins/org.eclipse.jdt.core/577612911.index
.metadata/.plugins/org.eclipse.jdt.core/820085790.index
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20170802-162050.836.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/10.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/11.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1o.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1p.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1q.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1r.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1s.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/_1t.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b8482814dc6eb7cd845dd2d191d1c8a1/segments_1p
.metadata/.plugins/org.eclipse.debug.core/.launches/SpringbootApplication.launch
