<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbh360.platform.dao.mapper.merch.MerchBaseInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.lbh360.platform.base.dao.domain.merch.MerchBaseInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="aftertimes" jdbcType="INTEGER" property="afterTimes" />
		<result column="beforetimes" jdbcType="INTEGER" property="beforeTimes" />
		<result column="brand" jdbcType="VARCHAR" property="brand" />
		<result column="compid" jdbcType="VARCHAR" property="compid" />
		<result column="costprice" jdbcType="DECIMAL" property="costPrice" />
		<result column="createtime" jdbcType="VARCHAR" property="createTime" />
		<result column="dayofhour" jdbcType="INTEGER" property="dayofhour" />
		<result column="descript" jdbcType="VARCHAR" property="descript" />
		<result column="grade" jdbcType="VARCHAR" property="grade" />
		<result column="headurl" jdbcType="VARCHAR" property="headURL" />
		<result column="isonline" jdbcType="INTEGER" property="isOnline" />
		<result column="istrans" jdbcType="INTEGER" property="isTrans" />
		<result column="level1code" jdbcType="VARCHAR" property="level1Code" />
		<result column="level2code" jdbcType="VARCHAR" property="level2Code" />
		<result column="limitnum" jdbcType="DECIMAL" property="limitNum" />
		<result column="markprice" jdbcType="DECIMAL" property="markPrice" />
		<result column="minnum" jdbcType="DECIMAL" property="minNum" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="packsize" jdbcType="VARCHAR" property="packSize" />
		<result column="paths" jdbcType="VARCHAR" property="paths" />
		<result column="place" jdbcType="VARCHAR" property="place" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="starttime" jdbcType="VARCHAR" property="startTime" />
		<result column="totalnum" jdbcType="DECIMAL" property="totalNum" />
		<result column="unitname" jdbcType="VARCHAR" property="unitName" />
		<result column="verder" jdbcType="VARCHAR" property="verder" />
		<result column="secunitName" jdbcType="VARCHAR" property="secUnitName" />
		<result column="secPrice" jdbcType="DECIMAL" property="secPrice" />
		<result column="smallheadurl" jdbcType="VARCHAR" property="smallHeadURL" />
		<result column="isStand" jdbcType="TINYINT" property="isStand" />
		<result column="linkMerchId" jdbcType="BIGINT" property="linkMerchId" />
	</resultMap>


	<sql id="Base_Column_List">
		id, aftertimes, beforetimes, brand, compid, costprice,
		createtime,
		dayofhour, descript,
		grade, headurl, isonline, istrans,
		level1code, level2code, limitnum,
		markprice, minnum,
		name, packsize,
		paths, place, price, starttime, totalnum, unitname, verder,
		secunitName,
		secPrice, smallheadurl, isStand, linkMerchId
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merch_base_info
		where id = #{id,jdbcType=BIGINT}
	</select>


	<select id="selectByCondition" parameterType="Map" resultMap="BaseResultMap">
		select o.*
		from merch_base_info o left join merch_sold s on o.id = s.id
		<where>
			o.isOnline=1
			<if test="compId != null"> and o.compId=#{compId}</if>
			<if test="level1Code != null"> and o.level1Code=#{level1Code}</if>
			<if test="level2Code != null"> and o.level2Code=#{level2Code}</if>
			<if test="isStand != null"> and o.isStand=#{isStand}</if>
			<if test="search != null">
				and (
				o.name like #{search}
				or exists (
				select 1 from m_auth a where o.compid = a.compid and a.companyname like
				#{search}
				)
				)
			</if>
			<if test="brand != null"> and o.brand like #{brand}</if>
			<if test="pricemin != null">
				<![CDATA[ and o.pricemin >= #{pricemin}]]>
			</if>
			<if test="pricemax != null"> 
				<![CDATA[and o.pricemin <=  #{pricemax}]]>
			</if>

			<if test="isSupportBHB != null">
				and exists ( select 1 from merch_bhb_rule r where o.id=r.id and
				support=#{isSupportBHB} )
			</if>

			<if test='orderField == "orderNum.desc"'>
				order by o.TOTALNUM desc,s.orderNum desc, o.id asc
			</if>

			<if test='orderField == "price.desc"'>
				order by o.TOTALNUM desc,o.price desc, o.id asc
			</if>
			<if test="orderField == null">
				order by o.TOTALNUM desc,o.price asc, o.id asc
			</if>
		</where>

	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		merch_base_info
		where id = #{id,jdbcType=BIGINT}
	</delete>


	<insert id="insert"
		parameterType="com.lbh360.platform.base.dao.domain.merch.MerchBaseInfo"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into merch_base_info
		(aftertimes, beforetimes,
		brand, compid, costprice,
		createtime,
		dayofhour, descript,
		grade, headurl, isonline,
		istrans, level1code,
		level2code,
		limitnum, markprice, minnum,
		name, packsize, paths,
		place,
		price, starttime,
		totalnum, unitname, verder,
		secunitName, secPrice,
		smallheadurl,
		isStand, linkMerchId)
		values (
		#{afterTimes,jdbcType=INTEGER},
		#{beforeTimes,jdbcType=INTEGER},
		#{brand,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR},
		#{costPrice,jdbcType=DECIMAL},
		#{createTime,jdbcType=VARCHAR},
		#{dayofhour,jdbcType=INTEGER},
		#{descript,jdbcType=VARCHAR},
		#{grade,jdbcType=VARCHAR}, #{headURL,jdbcType=VARCHAR},
		#{isOnline,jdbcType=INTEGER},
		#{isTrans,jdbcType=INTEGER},
		#{level1Code,jdbcType=VARCHAR},
		#{level2Code,jdbcType=VARCHAR},
		#{limitNum,jdbcType=DECIMAL}, #{markPrice,jdbcType=DECIMAL},
		#{minNum,jdbcType=DECIMAL},
		#{name,jdbcType=VARCHAR},
		#{packSize,jdbcType=VARCHAR},
		#{paths,jdbcType=VARCHAR},
		#{place,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
		#{startTime,jdbcType=VARCHAR},
		#{totalNum,jdbcType=DECIMAL},
		#{unitName,jdbcType=VARCHAR},
		#{verder,jdbcType=VARCHAR},
		#{secUnitName,jdbcType=VARCHAR}, #{secPrice,jdbcType=DECIMAL},
		#{smallHeadURL,jdbcType=VARCHAR},
		#{isStand,jdbcType=TINYINT},
		#{linkMerchId,jdbcType=BIGINT})
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="com.lbh360.platform.base.dao.domain.merch.MerchBaseInfo">
		update merch_base_info
		<set>
			<if test="afterTimes != null">
				aftertimes = #{afterTimes,jdbcType=INTEGER},
			</if>
			<if test="beforeTimes != null">
				beforetimes = #{beforeTimes,jdbcType=INTEGER},
			</if>
			<if test="brand != null">
				brand = #{brand,jdbcType=VARCHAR},
			</if>
			<if test="compid != null">
				compid = #{compid,jdbcType=VARCHAR},
			</if>
			<if test="costPrice != null">
				costprice = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				createtime = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="dayofhour != null">
				dayofhour = #{dayofhour,jdbcType=INTEGER},
			</if>
			<if test="descript != null">
				descript = #{descript,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
			<if test="headURL != null">
				headurl = #{headURL,jdbcType=VARCHAR},
			</if>
			<if test="isOnline != null">
				isonline = #{isOnline,jdbcType=INTEGER},
			</if>
			<if test="isTrans != null">
				istrans = #{isTrans,jdbcType=INTEGER},
			</if>
			<if test="level1Code != null">
				level1code = #{level1Code,jdbcType=VARCHAR},
			</if>
			<if test="level2Code != null">
				level2code = #{level2Code,jdbcType=VARCHAR},
			</if>
			<if test="limitNum != null">
				limitnum = #{limitNum,jdbcType=DECIMAL},
			</if>
			<if test="markPrice != null">
				markprice = #{markPrice,jdbcType=DECIMAL},
			</if>
			<if test="minNum != null">
				minnum = #{minNum,jdbcType=DECIMAL},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="packSize != null">
				packsize = #{packSize,jdbcType=VARCHAR},
			</if>
			<if test="paths != null">
				paths = #{paths,jdbcType=VARCHAR},
			</if>
			<if test="place != null">
				place = #{place,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="startTime != null">
				starttime = #{startTime,jdbcType=VARCHAR},
			</if>
			<if test="totalNum != null">
				totalnum = #{totalNum,jdbcType=DECIMAL},
			</if>
			<if test="unitName != null">
				unitname = #{unitName,jdbcType=VARCHAR},
			</if>
			<if test="verder != null">
				verder = #{verder,jdbcType=VARCHAR},
			</if>
			<if test="secUnitName != null">
				secunitName = #{secUnitName,jdbcType=VARCHAR},
			</if>
			<if test="secPrice != null">
				secPrice = #{secPrice,jdbcType=DECIMAL},
			</if>
			<if test="smallHeadURL != null">
				smallheadurl = #{smallHeadURL,jdbcType=VARCHAR},
			</if>
			<if test="isStand != null">
				isStand = #{isStand,jdbcType=TINYINT},
			</if>
			<if test="linkMerchId != null">
				linkMerchId = #{linkMerchId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="com.lbh360.platform.base.dao.domain.merch.MerchBaseInfo">
		update merch_base_info
		set aftertimes =
		#{afterTimes,jdbcType=INTEGER},
		beforetimes =
		#{beforeTimes,jdbcType=INTEGER},
		brand = #{brand,jdbcType=VARCHAR},
		compid = #{compid,jdbcType=VARCHAR},
		costprice =
		#{costPrice,jdbcType=DECIMAL},
		createtime =
		#{createTime,jdbcType=VARCHAR},
		dayofhour =
		#{dayofhour,jdbcType=INTEGER},
		descript = #{descript,jdbcType=VARCHAR},
		grade = #{grade,jdbcType=VARCHAR},
		headurl =
		#{headURL,jdbcType=VARCHAR},
		isonline = #{isOnline,jdbcType=INTEGER},
		istrans = #{isTrans,jdbcType=INTEGER},
		level1code =
		#{level1Code,jdbcType=VARCHAR},
		level2code =
		#{level2Code,jdbcType=VARCHAR},
		limitnum =
		#{limitNum,jdbcType=DECIMAL},
		markprice =
		#{markPrice,jdbcType=DECIMAL},
		minnum = #{minNum,jdbcType=DECIMAL},
		name = #{name,jdbcType=VARCHAR},
		packsize =
		#{packSize,jdbcType=VARCHAR},
		paths = #{paths,jdbcType=VARCHAR},
		place =
		#{place,jdbcType=VARCHAR},
		price = #{price,jdbcType=DECIMAL},
		starttime
		= #{startTime,jdbcType=VARCHAR},
		totalnum =
		#{totalNum,jdbcType=DECIMAL},
		unitname = #{unitName,jdbcType=VARCHAR},
		verder = #{verder,jdbcType=VARCHAR},
		secunitName =
		#{secUnitName,jdbcType=VARCHAR},
		secPrice =
		#{secPrice,jdbcType=DECIMAL},
		smallheadurl =
		#{smallHeadURL,jdbcType=VARCHAR},
		isStand =
		#{isStand,jdbcType=TINYINT},
		linkMerchId =
		#{linkMerchId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>